{% extends 'base.html.twig' %}

{% block header %}
    {% include 'header/headerShowProperty.html.twig' %}
{% endblock %}

{% block content %}
    <section class="content">
        <section class="block">
            <div class="container">
                {% for message in app.flashes('success') %}
                    <div class="center height-100px">
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    </div>
                {% endfor %}
                <div class="row">
                    <div class="col-md-3">
                        {% include "admin/dashboard/menu.html.twig" %}
                    </div>
                    <!--end col-md-3-->
                    <div class="col-md-9">
                        <!--============ Section Title===================================================================-->
                        <div class="section-title clearfix">
                            <div class="float-left float-xs-none">
                                <label class="mr-3 align-text-bottom">Sort by: </label>
                                <select onChange="window.location.href=this.value" name="sorting" id="sorting" class="small width-200px" data-placeholder="Default Sorting" >
                                    <option value="">Default Sorting</option>
                                    <option value="" >New/Oldest First</option>
                                    <option value="{{ knp_pagination_sortable(property, "created", "property.created_at") }}" >New/Oldest First</option>
                                    <option value="{{ knp_pagination_sortable(property, "price", "property.price") }}" >Highest/Lowest Price </option>
                                </select>

                            </div>
                            <div class="float-right d-xs-none thumbnail-toggle">
                                <a href="#" class="change-class" data-change-from-class="list"
                                   data-change-to-class="grid" data-parent-class="items">
                                    <i class="fa fa-th"></i>
                                </a>
                                <a href="#" class="change-class active" data-change-from-class="grid"
                                   data-change-to-class="list" data-parent-class="items">
                                    <i class="fa fa-th-list"></i>
                                </a>
                            </div>
                        </div>
                        <!--============ Items ==========================================================================-->
                        <div class="items list compact grid-xl-3-items grid-lg-2-items grid-md-2-items">
                            {% for prop in property %}
                                <div class="item">
                                    {% if prop.sold %}
                                    <div class="ribbon-diagonal">
                                        <div class="ribbon-diagonal__inner">
                                            <span>Sold</span>
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% if prop.featured %}
                                        <div class="ribbon-featured">Featured</div>
                                        <!--end ribbon-->
                                    {% endif %}
                                    <div class="wrapper">
                                        <div class="image">
                                            <h3>
                                                <a href="#" class="tag category">Home & Decor</a>
                                                <a href="{{ path('property.show', {id: prop.id, slug: prop.slug}) }}"
                                                   class="title">{{ prop.title }}</a>
                                                <span class="tag">T{{ prop.rooms }}</span>
                                            </h3>
                                            <a href="{{ path('property.show', {id: prop.id, slug: prop.slug}) }}"
                                               class="image-wrapper background-image">
                                                <img src="{% if prop.image %}{{ vich_uploader_asset(prop.image, 'imageFile') }}{% else %}{{ asset('assets/img/image-04.jpg') }}{% endif %}" alt="">
                                            </a>
                                        </div>
                                        <!--end image-->
                                        <h4 class="location">
                                            <a href="#">{{ prop.city }}, {{ prop.postalCode }}</a>
                                        </h4>
                                        <div class="price">{{ prop.formatPrice }} €</div>
                                        <div class="admin-controls">
                                            <a href="{{ path('admin.property.edit', {slug: prop.slug,id: prop.id}) }}">
                                                <i class="fa fa-pencil"></i>Edit
                                            </a>
                                            <form id="formSold{{ prop.id }}" name="Sold" method="post" action="{{ path('admin.property.sold', {'id': prop.id}) }}">
                                                <input type="hidden" name="_method" value="SOLD">
                                                <input type="hidden" name="_token" value="{{ csrf_token("sold" ~ prop.id) }}">
                                                <a href="#" onclick='document.getElementById("formSold{{ prop.id }}").submit();return false' class="ad-hide">
                                                    <i class="fa fa-eye-slash"></i>{% if prop.sold == false %}Sold{% else %}Sell{% endif %}
                                                </a>
                                            </form>
                                            <form id="formDel{{ prop.id }}" name="Delete" method="post" action="{{ path('admin.property.delete', {'id': prop.id}) }}">
                                                <input type="hidden" name="_method" value="DELETE">
                                                <input type="hidden" name="_token" value="{{ csrf_token("delete" ~ prop.id) }}">
                                                <a href="#" onclick='document.getElementById("formDel{{ prop.id }}").submit();return false' class="ad-remove">
                                                    <i class="fa fa-trash"></i>Remove
                                                </a>
                                            </form>

                                        </div>
                                        <!--end admin-controls-->
                                        <div class="description">
                                            <p>{{ prop.descr }}</p>
                                        </div>
                                        <!--end description-->
                                        <a href="{{ path('property.show', {id: prop.id, slug: prop.slug}) }}"
                                           class="detail text-caps underline">Detail</a>
                                    </div>
                                </div>
                                <!--end item-->
                            {% endfor %}
                        </div>
                        <!--end items-->
                        <div class="page-pagination">
                            {{ knp_pagination_render(property) }}
                        </div>
                    </div>
                    <!--end col-md-9-->
                </div>
                <!--end row-->
            </div>
            <!--end container-->
        </section>
        <!--end block-->
    </section>
{% endblock %}



